@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  border: 1px solid firebrick;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-flow: column;
}

.one {
  display: flex;
  flex-flow: column;
  background-color: #1f2937;
  padding: 0 240px;
  gap: 48px;
  padding-bottom: 100px;
}

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  /* flex-shrink: 0; */

}

.hero-text, .hero-image {
  flex-basis: 50%;
  /* flex-shrink: 0; */

}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;

}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.hero-secondary-text, ul, .image-text{
  font-size: 18px;
  color: #E5E7EB;
}

.hero-secondary-text {
  margin: 0 0 8px 0;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.two{
  text-align: center;
}
.two > p {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.two-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 100px;
}

.two-item {
  display: flex;
  flex-flow: column;
  flex-basis: 200px;
  flex-shrink: 0;
}

.placeholder {
  height: 192px;
  border: #3882f6 solid 4px;
  border-radius: 16px;
}

.two-item > p {
  font-size: 18px;
  color: grey;
  margin: 8px 0 0 0;
}


.three {
  display: flex;
  background-color: #E5E7EB;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 125px 300px 100px;
}

.three > p{
  margin: 0;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author {
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
  padding-right: 20px;
}

.four {
  padding: 100px 200px;
}

.four-content {
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  gap: 32px;
  padding: 50px 100px;
  border-radius: 1em;
  align-items: center;
}

.four p {
  margin: 0;
  color: #f9faf8;
  font-size: 18px;
}

.call-to-action {
  font-size: 32px !important;
  font-weight: bold;
}

.four button {
  border: #f9faf8 solid 2px;
  line-height: 0;
  height: 40px;
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #1f2937;
  color: #f9faf8;
}